.promo {
	margin-top: 80px;
	margin-bottom: 100px;

	&__block-top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 54px;
	}

	&__prev {
		max-width: 574px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 54px;

		.header {
			position: relative;

			&::before {
				@include greenShadow(250px, 250px);
				top: 200px;
				left: 400px;
			}
		}

		.header span {
			@include gradText;
		}
	}

	&__btns {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 17px;

		.select {
			font-weight: 600;
			font-size: 24px;
			line-height: 35px;
			letter-spacing: -0.02em;
			color: #fff;
		}

		.more {
			position: relative;
			border-radius: 83px;
			font-weight: 400;
			font-size: 24px;
			line-height: 35px;
			letter-spacing: -0.03em;
			color: $textColor;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				padding: 1px; // товщина рамки
				border-radius: inherit;
				background: linear-gradient(to bottom right, $textColor, #121517);
				-webkit-mask:
					linear-gradient(#fff 0 0) content-box,
					linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
						mask-composite: exclude;
				mask:
					linear-gradient(#fff 0 0) content-box exclude,
					linear-gradient(#fff 0 0);
				mask-composite: exclude;
				pointer-events: none;
			}

			&::after {
				@include whiteShadow(90px, 90px);
				top: 40px;
			}
		}
	}

	&__indicators {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 46px;

		&-block {
			max-width: 120px;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;

			.number {
				font-family: $fontFamily;
				font-weight: 400;
				font-size: 62px;
				line-height: 68px;
				letter-spacing: -0.03em;
				color: #fff;

				&::after {
					@include plus;
				}
			}

			.descr {
				position: relative;
				top: -65px;
			}
		}
	}


	&__img {
		display: flex;
		position: relative;

		&:before {
			@include whiteShadow(120px, 120px);
			filter: blur(60px);
			left: 30px;
			top: 70px;
		}

		&:after {
			@include greenShadow(310px, 310px);
			filter: blur(90px);
			right: 20px;
			bottom: 30px;
		}

		&-badge {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 23px;
			position: absolute;
			top: -40px;
			right: 10px;
			width: 220px;
			height: 220px;
			font-weight: 500;
			font-size: 55px;
			line-height: normal;
			letter-spacing: -0.03em;
			color: #fff;
			background: url('/src/images//stars/star_1.png') no-repeat center / contain;
			transform: rotate(-15deg);
			z-index: 10;
		}

		img {
			width: 450px;
		}
	}

	&__lines {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		flex-shrink: 0;
		gap: 26px;
		width: 850px;
		height: 600px;
		overflow: hidden;
		top: 200px;
		right: -160px;

		img {
			position: absolute;
			transform: scale(1.6);
			z-index: -4;
		}

		img#line1 {
			top: 120px;
			right: 136px;
		}

		img#line2 {
			top: 155px;
			right: 110px;
		}

		img#line3 {
			top: 180px;
			right: 80px;
		}
	}

	&__block-bottom {
		margin: 0 auto;
		margin-top: 100px;
		max-width: 1030px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-color: rgb(231, 231, 231);
		padding: 30px 40px 15px;
		border-radius: 46px;
		gap: 128px;
		position: relative;

		&::before {
			@include greenShadow(250px, 250px);
			top: -30px;
			right: 900px;
		}

		&::after {
			@include whiteShadow(120px, 120px);
			top: 380px;
		}

		&_badge {
			@include haveStar;
			position: absolute;
			top: -51px;
			left: -56px;
		}
	}

	&__proffer {
		max-width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;

		&:nth-child(2) {
			h3, p {
				position: relative;
				top: -15px;
			}
		}

		&:nth-child(3) {
			h3, p {
				position: relative;
				top: -25px;
			}
		}


		&-img {
			display: inline-block;
			position: relative;
			top: 0;

			&::after {
				@include greenCircle;
			}

			img {
				width: 100%;
				position: relative;
				z-index: 5;
			}

			#heard {
				width: 146px;
				height: 183px;
			}

			#rocket {
				width: 218px;
				height: 211px;
			}

			#money {
				width: 208px;
				height: 151px;
			}
		}

		&-text {
			text-align: center;
			color: rgba(18, 21, 23, 0.9);
			font-weight: 400;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: -0.02em;
		}
	}
}

@media (max-width: 1200px) {
	.promo {
		&__block {
			&-top {
				justify-content: center;
				gap: 20px;
			}
		}

		&__prev {
			max-width: 400px;

			.header {
				font-size: 60px;

				&::before {
					top: 50px;
					left: 50px;
					width: 180px;
					height: 180px;
					filter: blur(120px)
				}
			}

			p {
				font-size: 18px;
			}
		}

		&__btns {
			.select {
				width: 260px;
				font-size: 22px;
			}

			.more {
				font-size: 22px;
			}
		}

		&__indicators {
			gap: 30px;

			&-block {
				.number {
					font-size: 45px;

					&:after {
						right: -55px;
					}
				}
			}
		}

		&__img {
			&:after {
				width: 150px;
				height: 150px;
			}

			img {
				width: 400px;
			}
			&-badge {
				width: 180px;
				height: 180px;
				font-size: 40px;
			}
		}

		&__lines {
			right: -85px;
			top: 140px;

			img {
				transform: scale(1.9);
			}

			img#line1 {
				right: 125px;
			}

			img#line2 {
				right: 103px;
			}

			// img#line3 {

			// }
		}

		&__block {
			&-bottom {
				margin-top: 60px;
				gap: 80px;
				padding: 15px 30px 10px;

				&:after {
					top: 250px;
				}

				&_badge {
					width: 160px;
					height: 160px;
					font-size: 22px;
					padding: 0 30px 23px;
				}
			}
		}

		&__proffer {
			max-width: 190px;

			&-img {
				&::after {
					width: 125px;
					height: 125px;
				}

				#heard {
					width: 131px;//-10%
					width: 124px;//-15%
					height: 165px;//-10%
					height: 156px;//-15%
				}

				#rocket {
					width: 196px;//-10%
					width: 185px;//-15%
					height: 190px;//-10%
					height: 179px;//-15%
				}

				#money {
					width: 187px;//-10%
					width: 176px;//-15%
					height: 136px;//-10%
					height: 128px;//-15%
				}
			}

			h3 {
				font-size: 26px;
			}

			p {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
}

@media(max-width: 991px) {
	.promo {
		&__block {
			&-top {
				flex-direction: column-reverse;
			}
		}

		&__prev {
			max-width: 600px;
			gap: 30px;

			.header {
				font-size: 45px;
				line-height: 60px;
			}
		}

		&__btns {
			margin: 0 auto;
			justify-content: center;
			gap: 30px;

			.btn {
				height: 62px;
			}
		}

		&__indicators {
			margin: 0 auto;
			gap: 23px;

			&-block {
				.number {
					font-size: 34px;
					line-height: 60px;

					&:after {
						right: -42px;
						top: -58px;
					}
				}

				.descr {
					font-size: 18px;
					line-height: 25px;
				}
			}
		}

		&__img {
			img {
				width: 310px;
			}

			&-badge {
				width: 160px;
				height: 160px;
				font-size: 34px;
			}
		}

		&__lines {
			width: 450px;
			height: 400px;
			right: -80px;
			top: 25px;
		}

		&__block {
			&-bottom {
				margin-top: 20px;
				gap: 40px;
				max-width: 650px;

				&_badge {
					width: 140px;
					height: 140px;
					font-size: 20px;
				}
			}
		}

		&__proffer {
			max-width: 160px;
			gap: 0;

			&-img {
				&:after {
					width: 105px;
					height: 105px;
				}
				#heard {
					width: 105px;
					height: 133px;
				}

				#rocket {
					width: 157px;
					height: 152px;
				}

				#money {
					width: 150px;
					height: 109px;
				}
			}

			h3 {
				font-size: 22px;
			}

			p {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}

@media(max-width: 767px) {

}