.contacts {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 20% 20%, #0f2a1f, #05080c 60%);
  color: #fff;
  position: relative;

  &__content {
    max-width: 600px;
    padding: 40px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;

    span {
      color: #22c55e;
    }
  }

  &__desc {
    margin-top: 20px;
    color: #9ca3af;
    line-height: 1.6;
    max-width: 420px;
  }

  &__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
  }

  &__icon {
    width: 40px;
    height: 40px;

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__imgAll {
    position: relative; // Створюємо систему координат для абсолютних елементів
    display: flex;
    justify-content: center; // Центруємо головне фото
    align-items: center;
    width: 100%;
    min-height: 500px; // Задай висоту, щоб блок не схлопнувся
  }

  &__img {
    position: relative; // Можна залишити relative, щоб воно тримало висоту блоку
    z-index: 2; // <--- СТАВИМО НА ГОРУ

    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 20px; // Як на макеті
    }
  }

  &__Lines {
    position: absolute;
    width: 480px;
    height: 350px;
    right: -6px;
    top: 15px;
    gap: 10px;

    img {
      width: 280px;
      transform: scale(1);

      &#line1 {
        right: 0;
        top: 35px;
      }

      &#line2 {
        right: -10px;
      }

      &#line3 {
        right: -20px;
      }
    }
  }
}
