.footer {
  &__brand {
    color: #237249;
    font-size: 38px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 41px;
    margin-bottom: 0;
    letter-spacing: -2px;
  }
  &__all {
    display: flex;

    align-items: center;
    gap: 20px;
    padding: 20px 0;
    background-color: #121517;
  }
  &__columns {
    display: flex;
    gap: 50px;
  }
}
