.cooking {
	margin-bottom: 100px;

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__img {
		position: relative;
		width: 465px;
		height: 684px;
		overflow: visible;
		align-self: flex-start;
		flex-shrink: 0;
		line-height: 0;

		img {
			width: 100%;
       		height: 100%;
			display: block;
			object-fit: cover;
		}

		&::before {
			content: '';
			transform: translate(-45px, 45px);
			position: absolute;
			inset: 0;
			z-index: -1;
			background: #237249;
			clip-path: polygon(0% 0%, 71% 0%, 100% 24%, 100% 100%, 0% 100%);
		}

		&::after {
			@include greenShadow(100px, 60px);
			filter: blur(70px);
			bottom: -30px;
			left: -50px;
		}

		.badge {
			@include haveStar;
			top: 0;
			right: 0;
		}
	}

	&__lines {
		position: absolute;
		// display: flex;
		// display: none;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		flex-shrink: 0;
		gap: 26px;
		width: 800px;
		height: 560px;
		overflow: hidden;
		top: 170px;
		right: -800px;

		svg {
			position: relative;
		}

		#firstLine {
			top: 260px;
			transform: rotate(-7deg);
		}

		#secondLine {
			top: 30px;
			transform: rotate(-5deg);
		}

		#thirdthLine {
			top: -205px;
			transform: rotate(-3deg);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 63px;
		max-width: 447px;

		.header span {
			background: $rightPlaceGrad;
			position: relative;
			@include gradText;

			&:before {
				@include greenShadow(200px, 200px);
				right: -130px;
				top: -110px;
			}
		}
	}

	&__video {
		position: relative;
		overflow: hidden;
		width: 447px;
		height: 275px;
		border-radius: 15px;

		video {
			width: 100%;
			min-width: 100%;
			height: 100%;
			min-height: 100%;
			object-fit: cover;
		}

		button {
			position: absolute;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 12px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 326px;
			height: 75px;
			font-weight: 600;
			font-size: 24px;
			line-height: 28px;
			letter-spacing: -0.02em;
			color: #fff;
			opacity: 0.9;
		}
	}
}

@media(max-width: 1200px) {
	.cooking {
		&__img {
			width: 350px;
			height: 515px;

			&::before {
				transform: translate(-25px, 25px);
			}

			.badge {
				width: 160px;
				height: 160px;
				font-size: 22px;
				padding: 0 30px 23px;
				top: -15px;
				right: -50px;
			}
		}

		&__lines {
			top: 70px;
			right: -610px;
			z-index: -3;
		}

		&__text {
			gap: 10px;
		}

		&__video {
			width: 400px;
			height: 230px;
		}
	}
}

@media(max-width: 991px) {
	.cooking {
		&__img {
			width: 280px;
			height: 420px;

			&::after {
				bottom: 0;
				left: 0;
			}
		}

		&__lines {
			right: -475px;
			top: -55px;
		}

		&__text {
			max-width: 360px;
		}

		&__video {
			width: 340px;
			height: 180px;

			button {
				max-width: 260px;
				height: 62px;
				font-size: 18px;
			}
		}
	}
}

@media(max-width: 767px) {
	.cooking {
		&__row {
			flex-direction: column;
			gap: 50px;
		}

		&__img {
			width: 315px;
			height: 450px;
			margin-left: 50px;

			.badge {
				top: 60px;
				right: -170px;
			}
		}

		&__lines {
			right: -200px;
		}

		&__text {
			margin-left: 25px;
		}
	}
}